<form class="form-horizontal" name="myForm" class="css-form">
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Username: </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="username" name="username" ng-model="username" ng-pattern="/^[a-zA-Z0-9]*$/" required="">
            <span ng-show="myForm.username.$error.required">Please input your username.</span>
            <span ng-show="myForm.username.$error.pattern">Only alphabetic and numeric characters are allowed for username.</span>
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password: </label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" name="password" ng-minlength="8" ng-maxlength="20" ng-model="password" required="">
            <span ng-show="myForm.password.$error.minlength">Minimum 8 characters required for password.</span>
            <span ng-show="myForm.password.$error.maxlength">Maximum 20 characters required for password.</span>

        </div>
    </div>

    <div class="form-group">
        <label for="repassword" class="col-sm-2 control-label">Password verify: </label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="repassword" name="repassword" ng-model="repassword">
            <span ng-show="password!=repassword">Password-verify should be the save as password.</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="#result" class="btn btn-default" role="button" ng-disabled="password!=repassword || !myForm.$valid">Submit</a>
        </div>
    </div>
{{name}}
</form>



